*{
  background: linear-gradient(#e66465, #9198e5);
}
main{
   text-align: center;
}
#dec{
    background: black;
    color: white;
}
#inc{
    background: black;
    color: white;
}
#count{
    color: black;
}